body {
  background: radial-gradient(circle, #c8f4ff, #5bd9ff);
  margin: 0;
  padding: 0;
}

.select-header {
  width: 100%;
   height: 20%;
  display: flex;
  justify-content: space-between;
}

.ButtonBox {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.BoxContainer {
  display: flex;
  gap: 20px;
}

.largeButton {
  width: 300px;
  height: 100px;
}

.ChooseBox {
  width: 50%;
  height: 80px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}