body {
  background: radial-gradient(circle, #c8f4ff, #5bd9ff);
  /* color: rgb(233, 233, 233); */
}

.select-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ButtonBox {
  width: 100%;
  height: 100vh;       
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxContainer {
  display: flex;
  gap: 20px;
}

.largeButton {
  width: 200px;
  height: 80px;
}

.ChooseBox {
  width: 50%;
  height: 30%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}