.select-header {
  width: 100%;
   height: 20%;
  display: flex;
  justify-content: space-between;
}

.ButtonBox {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.BoxContainer {
  display: flex;
  gap: 20px;
}

.largeButton {
  width: 300px;
  height: 100px;
}

