html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: #FBFCFF;
}


/* .particles-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
} */

.text {
  position: relative;
  z-index: 1;       /* 前面に文字を表示 */
  display: flex;
  height: 80vh;
  width: 100%;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  /* letter-spacing: 1vw; */
  color: #2B262E;
}

.genreButton {
  border-color: #344699;
  color: #344699;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

